<div class="top-bar-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="nav justify-content-end">
                    <a href="#" class="btn btn-social-icon btn-outline-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="btn btn-social-icon btn-outline-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="btn btn-social-icon btn-outline-dribbble"><i class="fa fa-dribbble"></i></a>
                    <a href="#" class="btn btn-social-icon btn-outline-linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="btn btn-social-icon btn-outline-youtube"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>


    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">B2B Connect</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fa fa-home"></i>Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-paper-plane"></i>Flights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-hotel"></i>Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-book"></i>Holidays</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-edit"></i>Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tel:+27671835158"><i class="fa fa-phone"></i>067 183 5158</a>
                </li>
            </ul>
        </div>

    </div>
</nav>